<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="DBImport.Properties.Settings.PageVisitsConnectionString" connectionString="Data Source=INCANDESCENCE\SQLEXPRESS;Initial Catalog=exper1db;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DestinationTableName" value="page_visits" />
    <add key="HeaderFilePath" value="C:\Users\elze\Documents\Visual Studio 2010\Projects\StatsMVC2\StatsMVC2\App_Data\StatCounter-Log-2721969_SampleDataHeader4.csv" /> 
    <add key="transform_to.came_from" value="came_from_compact" />
    <add key="transform_to.page_url" value="page_url_compact" />
    <add key="transform_method.came_from" value="PluginManager.compactifyReferringURL" />
    <add key="transform_method.page_url" value="PluginManager.insertLineBreaksIntoURL" />
    <add key="field_extractor_method" value="PluginManager.extractQuoteEnclosedDoubleQuoteEscapedFields"/>
    <add key="search_term_regex.0" value="((q=|p=|ps=|searchfor=|search_term=|rw=).+)" />
    <add key="search_term_regex.1" value="((fps_PBCK_).+?)_" />
    <add key="image_extraction_regex.0" value="(?&lt;==).+(jpg|JPG|jpeg|JPEG|gif|GIF|png|PNG)" />
    <add key="image_extraction_regex.1" value="(?&lt;=url=|imagesrc=|desturi=).+" />    
    <add key="CompactifierSegmentSize" value="25" />
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
