<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="DBImport.Properties.Settings.PageVisitsConnectionString" connectionString="Data Source=INCANDESCENCE\SQLEXPRESS;Initial Catalog=exper1db;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CompactifierSegmentSize" value="25" />
    <add key="search_term_regex.0" value="((q=|p=|ps=|searchfor=|search_term=|rw=).+)" />
    <add key="search_term_regex.1" value="((fps_PBCK_).+?)_" />
    <add key="image_extraction_regex.0" value="(?&lt;=(imgurl|imagesrc).+?)\w*\.(jpg|JPG|jpeg|JPEG|gif|GIF|png|PNG)" />
    <add key="image_extraction_regex.1" value="(?&lt;=url=http://.+?)\w*\.(jpg|JPG|jpeg|JPEG|gif|GIF|png|PNG)" />
  </appSettings>
</configuration>